    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 10px;
    background-color: #ff8000;
    overscroll-behavior-y: none ;
}
.wrapper{
    height: 400px;
    width: 400px;
    background: #f8f8f8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.gameArea{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background: #f8f8f8;
    border-radius: 10px;
    border: none;
}



/* Animation Direction */
.arrow {
    position: absolute;
    /* top: -80%; */
    color: white;
    background-color: #ff8000;
    height: 50px;
    width: 50px;
    border-radius: 50%;  
    animation-duration: 1s;
    animation-iteration-count: 1; /* NOT infinite */
    animation-fill-mode: both;
  }
  .arrow.green {   /*  because we are updating in same class. */
  background-color: green;
  }
  .arrow.hide{
    display: none;
  }


  .right {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation-name: moveRight;
  }

  .left {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    animation-name: moveLeft;
  }

  .up {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: moveUp;
  }

  .down {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: moveDown;
  }

  @keyframes moveRight {
    0% { left: 0; opacity: 0; }
    50% { opacity: 1; }
    100% { left: 100%; opacity: 0; }
  }

  @keyframes moveLeft {
    0% { right: 0; opacity: 0; }
    50% { opacity: 1; }
    100% { right: 100%; opacity: 0; }
  }

  @keyframes moveUp {
    0% { bottom: 0; opacity: 0; }
    50% { opacity: 1; }
    100% { bottom: 100%; opacity: 0; }
  }

  @keyframes moveDown {
    0% { top: 0; opacity: 0; }
    50% { opacity: 1; }
    100% { top: 100%; opacity: 0; }
  }
/* Animation over  */